$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color: #99E2D0;
$primary-background-color: #FFFFFF;
$secondary-background-color: darken($primary-background-color, 5%);
$tertiary-background-color: darken($primary-background-color, 10%);