@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
.logo {
  font-family: "Shrikhand", cursive;
}

h1, h2, h3, p, span, a, button, ol, li {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

h1 {
  font-weight: 400;
  font-size: 30px;
}

ol {
  font-size: 14px;
}

.section__title {
  display: flex;
}

.button {
  display: flex;
}
.button a {
  color: #FFFFFF;
}
.button:hover {
  cursor: pointer;
}
.button--primary {
  color: #FFFFFF;
  font-size: 16px;
  width: 67%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  padding: 15px 0;
  border-radius: 30px;
  box-shadow: 0px 5px 5px #b3b3b3;
  background-color: #9356DC;
  background-image: linear-gradient(150deg, #FF79DA, rgba(255, 255, 255, 0));
  transition: background-color 1s;
}
.button--primary:hover {
  background-color: #bc95e9;
  box-shadow: 0px 5px 10px #8c8c8c;
}
.button--primary:active {
  transform: translateY(1px);
}
.button--primary:visited {
  color: #FFFFFF;
}
.button--like {
  font-size: 30px;
  position: absolute;
}
.button--like--border {
  color: #666666;
}
.button--like--border:hover {
  opacity: 0;
}
.button--like--background {
  background: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
}
.button--like--background:hover {
  opacity: 1;
  transition: 500ms;
}
.button--command {
  width: 50%;
  margin: 45px auto 60px;
}

.container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px #d9d9d9;
  margin: 2.5% 0;
  border-radius: 15px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .card {
    flex: 1 1 40%;
    margin: 2.5%;
  }
}
.card:active {
  box-shadow: 0px 0px 10px #9356DC;
}
.card__image {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .card__image {
    height: 240px;
  }
}
.card__badge {
  position: absolute;
  padding: 6px 12px;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #278870;
  font-size: 14px;
  font-weight: 500;
}
.card__content {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  position: relative;
}
.card__text {
  flex-grow: 1;
}
.card__text h3 {
  color: #000000;
}
.card__text p {
  color: #666666;
}
.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.returnArrow {
  display: flex;
  position: absolute;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  z-index: 100;
  font-size: 48px;
  -webkit-animation: loader 1.5s both;
          animation: loader 1.5s both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.loader__container {
  display: flex;
  position: relative;
}
.loader__item {
  display: flex;
  background: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.loader__item::after {
  content: "ohmyfood";
  position: absolute;
  left: 0;
  color: black;
  overflow: hidden;
  -webkit-animation: loaderAnimation 2.5s ease-in-out;
          animation: loaderAnimation 2.5s ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes loaderAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loaderAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
header, body, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 5;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 3px #cccccc;
}

main {
  padding-top: 60px;
}

.section {
  display: flex;
  flex-direction: column;
}
.section--homepage {
  padding: 35px 5%;
}
.section--menupages {
  padding: 0 5%;
  flex: 1 1 20%;
}
@media (min-width: 1024px) {
  .section--menupages {
    padding: 2.5%;
  }
}

.footer {
  background-color: #333333;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer__logo {
  margin: 10px 0;
  font-size: 18px;
  color: inherit;
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: inherit;
  display: flex;
  flex-direction: column;
}
.footer__list__item {
  display: flex;
  margin: 8px 0;
  font-size: 16px;
  color: inherit;
}
.footer__list__item i {
  display: inline-flex;
  font-size: 12px;
  width: 10px;
  margin-right: 10px;
}
.footer__list__item a {
  color: inherit;
}
.footer__list__item a:hover {
  text-decoration: underline;
}

.location {
  display: flex;
  flex-direction: row;
  background-color: #e6e6e6;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  color: #666666;
}
.location__icon {
  margin-right: 5%;
  font-size: 18px;
}
.location__text {
  font-weight: 500;
}

.explore {
  text-align: center;
  background-color: #f2f2f2;
}
.explore p {
  color: #666666;
}
.explore .section__title {
  justify-content: center;
}

.fonctionnement__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: listCounter;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .fonctionnement__list {
    flex-direction: row;
  }
}
.fonctionnement__step {
  display: flex;
  position: relative;
  padding: 25px;
  margin: 4% 0;
  align-items: center;
  margin-left: 10px;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #d9d9d9;
}
@media (min-width: 1024px) {
  .fonctionnement__step {
    flex: 1 1 33%;
    margin: 2.5%;
  }
}
.fonctionnement__step::before {
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: listCounter 1;
  content: counter(listCounter) " ";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
}
.fonctionnement__step i {
  margin-left: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #666666;
}
.fonctionnement__step:hover {
  background-color: #f2eafb;
}
.fonctionnement__step:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #f2f2f2;
  padding-bottom: 60px;
}

.section__title {
  font-weight: 700;
  margin: 10px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu__image {
  width: 110%;
  flex-shrink: 0;
}
.menu__container {
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0 0;
  margin-top: 220px;
  padding-top: 10px;
}
@media (min-width: 1024px) {
  .menu__container {
    margin-top: 330px;
  }
}
.menu__header {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .menu__header {
    padding: 2.5%;
  }
}
.menu__title {
  display: flex;
  font-weight: 400;
  font-size: 28px;
}
.menu__like {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}
.menu__section {
  list-style: none;
  padding: 0;
  margin: 15px 0 30px;
}
.menu__section__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  position: relative;
  padding-bottom: 8px;
}
.menu__section__title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.menu__item {
  background-color: #FFFFFF;
  margin: 16px 0;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #d9d9d9;
  display: flex;
  overflow: hidden;
  -webkit-animation: itemApparition 0.75s;
          animation: itemApparition 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.menu__item__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1 1 25%;
  min-width: 25%;
  padding: 2.5%;
}
.menu__item__title {
  margin: 4px 0;
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word;
  flex: 1 1 70%;
}
.menu__item__text {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1 1 50%;
  color: #666666;
}
.menu__item__price {
  text-align: center;
  flex: 0 0 15%;
  font-size: 14px;
  font-weight: 700;
  align-self: flex-end;
  color: #404040;
}
.menu__item__confirmation {
  width: 0;
  display: flex;
  color: #FFFFFF;
  background-color: #99E2D0;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.menu__item__confirmation__icon {
  transform: rotate(270deg);
}
.menu__item:hover .menu__item__confirmation {
  width: 17.5%;
  transition-duration: 0.75s;
}
.menu__item:hover .menu__item__confirmation__icon {
  transform: rotate(0);
  transition-duration: 0.75s;
}

.image__container {
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .image__container {
    height: 600px;
  }
}

.apparition__delay-1 {
  -webkit-animation-delay: 0.3333333333s;
          animation-delay: 0.3333333333s;
}

.apparition__delay-2 {
  -webkit-animation-delay: 0.6666666667s;
          animation-delay: 0.6666666667s;
}

.apparition__delay-3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.apparition__delay-4 {
  -webkit-animation-delay: 1.3333333333s;
          animation-delay: 1.3333333333s;
}

.apparition__delay-5 {
  -webkit-animation-delay: 1.6666666667s;
          animation-delay: 1.6666666667s;
}

.apparition__delay-6 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.apparition__delay-7 {
  -webkit-animation-delay: 2.3333333333s;
          animation-delay: 2.3333333333s;
}

.apparition__delay-8 {
  -webkit-animation-delay: 2.6666666667s;
          animation-delay: 2.6666666667s;
}

.apparition__delay-9 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.apparition__delay-10 {
  -webkit-animation-delay: 3.3333333333s;
          animation-delay: 3.3333333333s;
}

@-webkit-keyframes itemApparition {
  0% {
    transform-origin: top;
    transform: scale(1, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes itemApparition {
  0% {
    transform-origin: top;
    transform: scale(1, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */