@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
.logo {
  font-family: "Shrikhand", cursive;
}

h1, h2, h3, p, span, a, button, ol, li {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000000;
}

h1 {
  font-weight: 400;
  font-size: 30px;
}

h2 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

ol {
  font-size: 14px;
}

.section__title {
  display: flex;
}

.button {
  display: flex;
  font-size: 16px;
  box-shadow: 0px 5px 5px #b3b3b3;
}
.button:hover {
  cursor: pointer;
}

.button-primary {
  color: white;
  display: flex;
  width: 67%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 5px #d9d9d9;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border-radius: 15px;
  overflow: hidden;
}
.card__image {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__badge {
  position: absolute;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #278870;
  font-size: 14px;
  font-weight: 500;
}
.card__content {
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
}
.card__text {
  flex-grow: 1;
}
.card__text p {
  color: #666666;
  margin-top: 5px;
}
.card__button {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 26px;
}

/*Button*/
header, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 3px #cccccc;
}

main {
  padding-top: 60px;
}

section {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 35px;
  padding-bottom: 35px;
}

.location {
  flex-direction: row;
  background-color: #e6e6e6;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
  color: #666666;
}
.location__icon {
  margin-right: 5%;
  font-size: 18px;
}
.location__text {
  font-weight: 500;
}

.explore {
  text-align: center;
  background-color: #f2f2f2;
}
.explore h2 {
  margin-left: 10%;
  margin-right: 10%;
}
.explore p {
  color: #666666;
}

.fonctionnement__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: listCounter;
  width: 100%;
}
.fonctionnement__step {
  display: flex;
  position: relative;
  padding: 25px;
  margin-top: 8%;
  margin-bottom: 8%;
  align-items: center;
  margin-left: 10px;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #d9d9d9;
}
.fonctionnement__step::before {
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: listCounter 1;
  content: counter(listCounter) " ";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
}
.fonctionnement__step i {
  margin-left: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #666666;
}

.restaurants {
  background-color: #f2f2f2;
}

/*Page-specific styles
home
*//*# sourceMappingURL=main.css.map */