.section__title{
    display: flex;
}

.button{
    display: flex;
    font-size: 16px;
    box-shadow: 0px 5px 5px darken($primary-background-color, 30%);
    &:hover{
        cursor: pointer;
    }
}

.button-primary{
    color: white;
    display: flex;
    width: 67%;
    margin: 0 auto;
    @include center-content;
    @include margin-vertical(25px);
    @include padding-vertical(15px);
    background: linear-gradient(0deg,$primary-color,$secondary-color);
    border-radius: 30px;
}

.card{
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 5px 5px darken($primary-background-color, 15%);
}