.logo{
    font-family: 'Shrikhand', cursive;
}

h1, h2, h3, p, span, a, button{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

p{
    font-size: 18px;
}

h1{
    font-weight: 400;
    font-size: 30px;
}

h2{
    font-weight: 700;
}