.location{
    flex-direction: row;
    background-color: $tertiary-background-color;
    @include padding-vertical(15px);
    @include center-content;
    &__icon{
        margin-right: 5%;
        font-size: 18px;
    }
    &__text{
        font-weight: 500;
    }
}

.explore{
    text-align: center;
    background-color: $secondary-background-color;
    h2{
        @include margin-horizontal(10%);
    };
}

#fonctionnement{

}

#restaurants{

}